body {
    display: flex;
}


.topnav {
    background-color: #fff;
    overflow: hidden;
    margin: 20px 20px;
  }
  
  .topnav a {
    float: right;
    display: block;
    color: #292929;
    text-align: right;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: montserrat, sans-serif;
  }

  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }

  .topnav a.active {
    background-color: #ffffff;
    color: rgb(107, 107, 107);
  }
  
  .topnav .icon {
    display: none;
  }

.artigos {
    float: right;
    display: block;
    color: #292929;
    text-align: center;
    padding: 50px;
    text-decoration: none;
    font-size: 17px;
    font-family: montserrat, sans-serif;
}